---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Faq from "../components/Faq/index.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Faq />
	</main>
</Layout>
