---
import { Icon } from "astro-icon";

type navItemTypes = "Features" | "Hardware" | "developer" | "other resources";

interface navItemInterface {
    title: string;
    link: string;
}

const navItems: Record<navItemTypes, navItemInterface[]> = {
    "other resources": [],
    developer: [],
    Features: [],
    Hardware: [],
};
---

<nav
    class="contatiner px-container-base lg:px-container-lg pt-[1.5rem] pb-[.5rem] lg:pt-[2rem] lg:pb-[.5rem] border-b border-b-primary-2 lg:border-b-secondary-1"
>
    <div class="w-full flex items-center justify-between">
        <div class="flex items-center gap-[2.5rem]">
            <Icon
                name="timbuLogo"
                class="w-[5rem] h-[3.1875rem] lg:w-[6.125rem] lg:h-[3.875rem]"
            />
            <div class="flex items-center gap-[0.5rem]"></div>
        </div>
        <!-- <div class="flex items-center gap-1">
            <button
                class="flex px-[1rem] py-[0.625rem] text-secondary-2 text-[1.5rem] font-[600] leading-[1.75rem] tracking-[0.0075rem]"
            >
                Sign Up
            </button>
            <button
                class="h-[4.5rem] px-[2.125rem] border rounded-[8px] border-primary-1"
            >
                <span
                    class="text-[14px] text-secondary-2 font-[600] leading-[1.875rem] tracking-[0.0075rem]"
                    >Request a Demo
                </span>
            </button>
            <button> Try for free</button>
        </div> -->
    </div>
</nav>
